.h2 {
  font-size: $fz-h2;
  line-height: 120%;
}
.h3 {
  font-size: $fz-h3;
  line-height: 120%;
}
.h4 {
  font-size: $fz-h4;
  line-height: 120%;
}
.h5 {
  font-size: $fz-h5;
  font-weight: 500;
  line-height: 160%;
}
.text {
  font-size: $fz-text;
  line-height: 150%;
  white-space: break-spaces;
}
.caption {
  font-size: $fz-caption;
  line-height: 150%;
}
