.btn {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: $c-white;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 30px;
  border: none;
  height: 44px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.025);
  }
  &:active {
    transform: scale(0.95);
  }
}
.btn-yellow {
  background: $c-yellow;
}
.btn-dark {
  background: $c-dark;
}
.btn-red {
  background: $c-red;
}
.btn-white {
  background: $c-white;
  color: $c-dark;
}
