.btn {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: $c-white;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 30px;
  border: none;
  height: 44px;
  cursor: pointer;
}
.btn-yellow {
  background: $c-yellow;
}
.btn-dark {
  background: $c-dark;
}
.btn-red {
  background: $c-red;
}
