div.container {
  padding: 160px 0 0;
}

.cards_container {
  display: flex;
  gap: 24px;

  @media (max-width: $m-md) {
    flex-direction: column;
  }
}

.card {
  background-color: #e2e2e2;
  padding: 40px;
  display: flex;
  flex-direction: column;
  color: $c-dark;
}

.card_title {
  font-weight: 600;
  margin-bottom: 16px;
}

.card_contacts {
  margin-top: 16px;
  padding-left: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 9px;
    background: $c-dark;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}

.card_contacts_title {
  font-weight: 600;
}

.contact_card_container {
  @media (max-width: $m-md) {
    padding: 32px 0 40px;
  }
}

.contact_card {
  background-color: #e2e2e2;
  background: url(/contact_back.svg);
  padding: 50px;
  display: flex;
  flex-direction: column;
  color: $c-dark;
  gap: 25px;

  @media (max-width: $m-md) {
    padding: 32px;
  }
}

.contact_card_top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.contact_card_form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;

  & > * {
    width: calc((100% - 64px) / 3);
  }

  & > :nth-child(4) {
    width: calc((100% - 64px) * 2 / 3 + 32px);
  }

  & > :last-child {
    width: 100%;
  }

  @media (max-width: $m-md) {
    & > * {
      width: 100% !important;
    }
  }
}
