.card {
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
}

.card_illustration {
  position: relative;
  height: 252px;
  object-fit: cover;
}

.card_top {
  margin: 20px 0 40px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $m-md) {
    flex-direction: column;
    gap: 8px;
    margin: 16px 0 24px;
  }
}

.card_title {
  font-size: $fz-h5;
  line-height: 24px;
  font-weight: 600;
}

.card_date {
  font-size: $fz-caption;
  color: $c-grey;
  width: 90px;
  text-align: right;

  @media (max-width: $m-md) {
    width: auto;
    text-align: left;
  }
}

.card_description {
  font-size: $fz-caption;
}
