@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import 'normalize.css';

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

body {
  color: $c-dark;
  font-size: $fz-text;
  font-family: $ff-primary, serif;
}

ul {
  padding-left: 0;
}

a {
  text-decoration: none;
  color: unset;
}

button.mantine-Pagination-control {
  background: transparent;
  color: $c-white;
  border: unset;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: all 0.3s;
}
button.mantine-Pagination-control:hover {
  color: $c-dark;
}
button.mantine-Pagination-control[data-active] {
  background: $c-white;
  color: $c-dark;
}
button.mantine-Pagination-control[data-active]:not([data-disabled]):hover {
  background: $c-white;
  color: $c-dark;
}
