@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import 'normalize.css';

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

body {
  color: $c-dark;
  font-size: $fz-text;
  font-family: $ff-primary, serif;
}

ul {
  padding-left: 0;
}
