$content-width: 1280px;

$c-dark: #111219;
$c-yellow: #a68448;
$c-white: #ffffff;
$c-grey: #a0a0a0;
$c-red: #ff424d;

$ff-primary: 'Montserrat';

$fz-caption: 14px;
$fz-text: 18px;
$fz-h5: 20px;
$fz-h4: 18px;
$fz-h3: 34px;
$fz-h2: 38px;
$fz-h1: 100px;
