$content-width: 1280px;

$c-dark: #111219;
$c-yellow: #a68448;
$c-white: #ffffff;
$c-grey: #a0a0a0;
$c-red: #ff424d;

$ff-primary: 'Montserrat';

$fz-caption: 14px;
$fz-text: 18px;
$fz-h5: 20px;
$fz-h4: 28px;
$fz-h3: 34px;
$fz-h2: 38px;
$fz-h1: 100px;

$m-sm: 720px;
$m-md: 1100px;
$m-xl: 1300px;

@mixin bottom-line-effect {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background: $c-dark;
    transition: width 0.3s;
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }
}
