.content_row {
  display: flex;
  gap: 100px;

  & > * {
    flex: 0 1 50%;
  }

  & > :first-child {
    width: 450px;
    min-width: 450px;
  }
}

.title {
  margin-bottom: 50px;
}
.text_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.text_container_bottom {
  margin-top: auto;
}

.stat_container {
  margin: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stat_item {
  width: 246px;
  gap: 10px;
  text-align: center;
  border-right: 1px solid #e2e2e2;

  &:last-child {
    border-right: none;
  }
}
.stat_item_count {
  font-size: 50px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -1px;
}

.illustration_2 {
  position: relative;
  width: 593px;
  height: 602px;
  img {
    object-fit: cover;
    object-position: top;
  }
}
