div.container__default {
  padding: 160px 0 40px;
}

.title {
  margin-bottom: 50px;
}

.list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.list_item {
  position: relative;
  width: calc((100% - 80px) / 3);
  min-height: 252px;
}

.pagination {
  margin: 64px 0 0;
  display: flex;
  justify-content: center;
}
