div.container {
  padding: 160px 0 0;
}

.content_row {
  display: flex;
  gap: 100px;

  & > :first-child {
    width: 450px;
    min-width: 450px;
  }
}

.title {
  margin-bottom: 30px;
}
.subtitle {
  font-weight: 500;
  margin-bottom: 40px;
}

.content_bottom {
  position: relative;
  height: 550px;
  margin-top: 50px;
}
