.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form_container {
  display: flex;
  gap: 110px;
  align-items: stretch;

  @media (max-width: $m-md) {
    flex-direction: column;
    align-items: center;
    gap: 64px;
  }
}

.form {
}

.form_top {
  display: flex;
  gap: 60px;
  width: 100%;
  padding-bottom: 50px;
  border-bottom: 1px solid $c-grey;

  @media (max-width: $m-md) {
    flex-direction: column;
  }
}

.form_top_left {
  min-width: 230px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  button {
    width: 100%;
  }

  @media (max-width: $m-md) {
    flex-direction: row;
  }
}

.form_top_right {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 25px 20px;

  & > * {
    width: calc((100% - 40px) / 3);
  }
  input {
    border-radius: 20px;
    height: 44px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    background-color: #fff;
    color: #111219;
    font-family: $ff-primary;
  }
}

.form_bottom {
  padding-top: 50px;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;

  & > * {
    width: calc((100% - 64px) / 3);
    @media (max-width: $m-md) {
      width: 100%;
    }
  }

  input {
    border-bottom: 1px solid $c-grey;
    color: $c-white;
  }
  input:focus {
    border-bottom: 1px solid $c-white;
  }
  label {
    color: $c-white;
  }
  button {
    width: 290px;
    @media (max-width: $m-md) {
      width: 100%;
    }
  }

  @media (max-width: $m-md) {
    flex-direction: column;
  }
}

.form_bottom_deactivate {
  font-size: $fz-caption;
  width: calc(100% - 290px - 32px);

  @media (max-width: $m-md) {
    width: 100%;
  }
}

.form_info {
  width: 360px;
  background: $c-white;
  color: $c-dark;
  padding: 32px 24px;
  border-radius: 20px;
}

.form_info_title {
  font-weight: 600;
  margin-bottom: 30px;
}

.form_info_label {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}

.form_info_text {
  font-size: 16px;
  line-height: 28px;
}

.support_card {
  background-color: #e2e2e2;
  background: url(/support-info-card.svg);
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: $c-dark;
}
.support_card_title {
  max-width: 480px;
}
.support_card_buttons {
  display: flex;
  align-items: center;
  gap: 32px;

  button {
    width: 200px;
    justify-content: center;
    white-space: nowrap;
  }
}

.support_card {
  background-color: #e2e2e2;
  background: url(/support_back.svg);
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: $c-dark;
  overflow: hidden;

  @media (max-width: $m-md) {
    padding: 32px;
  }
}

.support_card_title {
  max-width: 480px;
}

.support_card_buttons {
  display: flex;
  align-items: center;
  gap: 32px;

  button {
    width: 200px;
    justify-content: center;
    white-space: nowrap;
  }

  @media (max-width: $m-md) {
    flex-direction: column;

    button,
    & > * {
      width: 100%;
    }
  }
}
