.footer {
  background-color: $c-dark;
}

.footer_inner {
  max-width: $content-width;
  border-top: 1px solid #e2e2e2;
  padding: 60px 0;
  margin: 0 auto;
  display: flex;
  gap: 64px;
  justify-content: space-between;

  @media (max-width: $m-md) {
    flex-direction: column;
    padding: 48px 24px;
    gap: 48px;
  }
}

.footer_left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: $c-grey;
}

.footer_logo {
  width: 181px;
  height: 53px;
}

.footer_payment_methods {
  display: flex;
  align-items: center;
  gap: 25px;
}

.links {
  display: flex;
  gap: 80px;
  color: $c-white;

  @media (max-width: $m-md) {
    flex-wrap: wrap;
    gap: 32px;
  }
}

.links_column {
  display: flex;
  flex-direction: column;
  gap: 6px;

  @media (max-width: $m-md) {
    flex-grow: 1;
    width: calc(50% - 16px);

    &:last-child {
      width: 100%;
    }
  }
}
.links_title {
  gap: 6px;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 12px;
}
.links_link {
  font-size: 16px;
  line-height: 24px;
}
.links_social {
  margin-top: 12px;
  display: flex;
  gap: 10px;
}
.links_social_icon {
  width: 26px;
  height: 27px;
}
