.container {
  display: flex;
  gap: 24px;
}

.post {
}

.more_posts {
  min-width: 360px;
  width: 360px;
  padding: 32px 24px;
  background-color: #e2e2e2;
  background: url(/other-posts-back.svg);
}

.illustration {
  max-height: 450px;
  width: 100%;
  object-fit: cover;
}

.title {
  margin: 45px 0 25px;
}

.subtitle {
}

.content {
  line-height: 28px;
  margin-top: 50px;

  p {
    font-size: $fz-text;
    margin: 20px 0 40px;
  }

  frame {
    margin: 50px auto;
  }

  ul {
    margin-left: 24px;
  }
}
